.navbar {
    background-color: #004983;
}
.navbar img {
    
    top: 5px; /* Adjust the top position as needed */
    left: 5px; /* Adjust the left position as needed */
    width: 60px; /* Adjust the width of the image */
    height: auto; /* The height adjusts automatically to maintain the image's aspect ratio */
    margin-right: 1vw;
  }

  body {
    background: linear-gradient(to bottom, white, #45c2f4);
    background-size: cover;
    background-repeat: no-repeat;
  }
  