.navbar {
    background-color: #004983;
}
.navbar img { 
    top: 5px; /* Adjust the top position as needed */
    left: 5px; /* Adjust the left position as needed */
    width: 60px; /* Adjust the width of the image */
    height: auto; /* The height adjusts automatically to maintain the image's aspect ratio */
    margin-right: 1vw;
}
.navbar a{
    color:white;
    font-family: Verdana,Geneva,sans-serif; 
    
}
.navbardropdownbutton text{
    margin-right: 5vw;
}
.navbar-toggler {
    background-color: #f5f5f5; /* change background color */
    border: white 3px solid; /* remove border */
}
.navbar-toggler:hover {
    background-color: #ddd; /* change hover background color */
    color: #333; /* change hover link color */
}
.homecontent{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://static.brusheezy.com/system/resources/thumbnails/000/050/505/original/blue-abstract-bubble-background-photoshop-backgrounds.jpg); 

}
  body {
    background-image: url(https://thumbs.dreamstime.com/b/modern-seamless-vector-geometric-pattern-tile-texture-endless-design-blue-abstract-polygonal-repeatable-background-198769241.jpg);
    background-repeat: repeat;
  }

  .HomePageText{
    margin-top: 15vh;
    margin-left: 10vw;
  }
  .HomePageText{
    font-family: 'Courier New', monospace;
    font-weight: bold;
  }
  .HomePageText h1{
    font-size: 50px;
  }
  .HomePageText h2{
    font-size: 30px;
  }
  .HomePageText button{
    font-size: 50px;
  }
  .card {
    margin-top: 1vh;
}
.abouttext{
    background:rgba(255, 255, 255, 0.7);

}
.learnmorebutton{
    margin-left:7vw;
}

/* here down*/
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;

  }
  
  .btn:hover {
    border: black 1px solid;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  #question-container{
    background-color: lightblue;
    margin-top: 10vh;
    border-radius: 7px;
  }
  .controls{
    
    border-radius: 5px;
  }
  #slider-value{
    display: flex;
    font-size: xx-large;
    background-color: lightblue;
    text-align: center;
    justify-content: center;
  }
  .next-btn{
    font-size: 60px;
    background-color: lightblue;
  }
  #question{
    font-size: x-large;
    text-align: center;
  }
  .ageslider {
    display:block;
    margin-left: auto;
    width: 40vw;
  }
  .hide {
    display: none;
  }
  
  .sorterrow{
    background-color: #006dc6;
  }